<header>
  <h1><a routerLink="/">Taller para Biznagafest 2022</a></h1>
  <div class="menu">
    <button type="button" routerLink="/sin-lazy">Sin Lazy Loading</button>
    <button type="button" routerLink="/iframe">Ifame</button>
    <button type="button" routerLink="#">Angular Applications</button>
    <button type="button" routerLink="#">Angular Elements</button>
    <button type="button" routerLink="#">Module Federation</button>
  </div>
</header>

<div>
  <router-outlet></router-outlet>
</div>

<footer></footer>
