<article>
  <div>
    <h2>IFRAME</h2>
    <div>
      <p>Con un iframe podremos referenciar cualquier web, para que se pueda visualizar dentro de este tag.
        Una de las limitaciones que tiene, es que para que se pueda visualizar, deberemos tener configurado el CORS para poder
        ver la web, dentro de nuestro dominio.
      </p>
      <p>
        Más información en página de mozilla: <a href="https://developer.mozilla.org/es/docs/Web/HTML/Element/iframe">https://developer.mozilla.org/es/docs/Web/HTML/Element/iframe</a>
      </p>
    </div>
    <div>
      <h3>Ventajas y desventajas</h3>
      <p>Aquí irían las ventajas y desventajas</p>
    </div>
  </div>
  <div>
    <iframe id="inlineFrameExample"
    title="Inline Frame Example"
    width="600"
    height="600"
    src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik">
</iframe>
  </div>


</article>
